<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>2Via</display-name>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Production</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>pages/index.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>start</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
    <param-value>6Lc5AhgTAAAAAN1adBQHEGuzT95rmASyqiiUpEWF</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
    <param-value>6Lc5AhgTAAAAAK7cmWOSW15fgde7sw1bR8_fRhf4</param-value>
  </context-param>
  <context-param>
  <param-name>primefaces.FONT_AWESOME</param-name>
  <param-value>true</param-value>
  </context-param>
  <filter>
    <filter-name>primeUploadFilter</filter-name>
    <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>primeUploadFilter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/pages/notfound.xhtml</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/pages/error.xhtml</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/pages/error.xhtml</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/pages/error.xhtml</location>
  </error-page>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>br.gov.df.dftrans.scie.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/pages/instituicao/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AutenticacaoFilter</display-name>
    <filter-name>AutenticacaoFilter</filter-name>
    <filter-class>br.gov.df.dftrans.scie.filters.AutenticacaoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutenticacaoFilter</filter-name>
    <url-pattern>/pages/autenticado/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AutenticacaoInstituicaoFilter</display-name>
    <filter-name>AutenticacaoInstituicaoFilter</filter-name>
    <filter-class>br.gov.df.dftrans.scie.filters.AutenticacaoInstituicaoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutenticacaoInstituicaoFilter</filter-name>
    <url-pattern>/pages/autenticado/instituicao/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AutenticacaoValidadorFilter</display-name>
    <filter-name>AutenticacaoValidadorFilter</filter-name>
    <filter-class>br.gov.df.dftrans.scie.filters.AutenticacaoValidadorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutenticacaoValidadorFilter</filter-name>
    <url-pattern>/pages/autenticado/validador/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>EstudanteFilter</display-name>
    <filter-name>EstudanteFilter</filter-name>
    <filter-class>br.gov.df.dftrans.scie.filters.EstudanteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EstudanteFilter</filter-name>
    <url-pattern>/pages/estudante/*</url-pattern>
  </filter-mapping>
  <mime-mapping>
    <extension>woff2</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
</web-app>